{% extends 'base.html' %}

{% block content %}
    <!-- edit.html -->
    <form action="/edit/{{ todo.id }}" method="post">
        <input type="text" name="title" value="{{ todo.title }}" placeholder="Введите задачу" maxlength="500">
        <textarea name="details" rows="5" placeholder="Введите детали">{{ todo.details }}</textarea>
        <select name="tag">
            {% for tag in tags %}
                <option value="{{ tag.value }}"
                        {% if todo.tag == tag %}selected{% endif %}>{{ tag.title() }}</option>
            {% endfor %}
        </select>
        <label>
            <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>
            Завершено
        </label>
        <button type="submit">Обновить</button>
    </form>

{% endblock content %}
