{% extends 'base.html' %}

{% block content %}

    <form action="/add" method="post">
        <input type="text" name="title" placeholder="Введите задачу" maxlength="50" minlength="3">
        <textarea name="details" rows="5" placeholder="Введите детали" maxlength="100"></textarea>
        <select name="tag">
            {% for status in tags %}
                <option value={{ status.value }}>{{ status.title() }}</option>
            {% endfor %}
        </select>
        <button type="submit">Добавить</button>
    </form>



    <br>
    <h2>Задачи</h2>
    <div>
        {% for todo in todos %}
            <div class="task">
                {% if todo.completed %}
                    <span style="text-decoration: line-through;">{{ todo.title }}</span>
                {% else %}
                    {{ todo.title }}
                {% endif %}
                <small>
                    {% if todo.details|length > 30 %}
                        {{ todo.details[:30] }}...
                    {% else %}
                        {{ todo.details }}
                    {% endif %}
                    ({{ todo.tag.title() }})
                    <form action="/update/{{ todo.id }}" method="post" class="d-inline">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="completed"
                                   {% if todo.completed %}checked{% endif %} onchange="this.form.submit()">
                        </div>
                    </form>
                    <a href="edit/{{ todo.id }}">Редактировать</a>
                    <a href="delete/{{ todo.id }}">Удалить</a>
                </small>
            </div>
        {% endfor %}
    </div>

    <!-- Pagination controls -->
    <!-- Pagination controls -->
    <div class="pagination">
        {% if offset > 0 %}
            <a href="/?offset={{ offset - limit }}&limit={{ limit }}">Previous</a>
        {% endif %}
        <span>Page {{ (offset // limit) + 1 }} of {{ (total_todos + limit - 1) // limit }}</span>
        {% if (offset + limit) < total_todos %}
            <a href="/?offset={{ offset + limit }}&limit={{ limit }}">Next</a>
        {% endif %}
    </div>





{% endblock content %}
